# App
APP_PORT:3000
NODE_ENV:development

# Database
DB_HOST=0.0.0.0
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=mysecretpassword
DB_DATABASE=mydatabase
DB_LOGGING=true

# Contentful
CONTENTFUL_BASE_URL=https://cdn.contentful.com
CONTENTFUL_SPACE_ID=<space id>
CONTENTFUL_ACCESS_TOKEN=<access-token>
CONTENTFUL_ENVIRONMENT=<environment>
CONTENTFUL_CONTENT_TYPE=<type>

# Cron
CRON_FETCH_PRODUCTS='0 0 * * * *'
